In [3]:
# Di spek disaranin pake scipy, harusnya tetep boleh pake numpy, pandas, matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv("../dataset/banana.csv")
df.head()

,Unnamed: 0,Acidity,Weight,Length,Appearance,Tannin,Ripeness,Sweetness,Country_of_Origin,Firmness,Grade,Price
0,0,5.977114,149.825704,49.249144,3.770162,8.092385,6.916558,6.763285,Costa Rica,0.370053,A,20075.252141
1,1,8.625523,150.759254,50.048300,6.007516,7.400025,6.706338,6.481902,Costa Rica,0.560635,A,20016.601326
2,2,8.813012,148.780694,49.865871,5.166949,6.861433,6.607327,5.702631,Costa Rica,0.373475,C,20123.529719
3,3,7.496444,152.329626,49.676489,5.451806,7.342269,6.482970,6.265227,Colombia,0.490814,A,20055.353632
4,4,6.885109,150.412228,50.526268,3.872441,7.630643,6.064423,6.856929,Colombia,0.826858,A,20003.643981